<h2>Checkout</h2>

<h3>Seu carrinho esta vazio</h3>
<p>Adicione produtos ao carrinho antes de finalizar a compra.</p>
<button mat-raised-button color="primary" type="button" 
routerLink="/produtos">Ver Produtos</button>
@if (pedidoFinalizado()) {
     <section class="pedido-finalizado">
   <h3>Pedido Finalizado com Sucesso!</h3>

   <p><strong>Codigo</strong>{{pedidoFinalizado()?.codigo}}</p>
    <p><strong>Cliente:</strong>{{pedidoFinalizado()?.cliente}}</p>
    <p><strong>E-mail:</strong> {{pedidoFinalizado()?.email}}</p> 
    <p><strong>Itens Comprados:</strong>{{pedidoFinalizado()?.quantidadeItens}}</p>
    <p><strong>Total:</strong>{{pedidoFinalizado()?.total}}</p>
     </section>
    <button mat-raised-button type="button" routerLink="/produtos"> Fazer compra novamente</button>
   
    <p style="color: green;">Compra finalizada com sucesso</p>
}
@if(carrinhoFacade.carrinhoVazio()){
    <p style="color: red;">carrinho está vazio!</p>
    <p  style="color: red;">Adicione Produtos antes de finalizar a compra!</p>
    <button mat-raised-button color="primary" type="button" routerLink="/produtos">Ver Produtos</button>

    }
 @if(!pedidoFinalizado()) {
    <section>
        <h3> Resumo da Compra</h3>
   
    <p><strong>Itens do Carrinho:</strong>{{carrinhoFacade.quantidadeCarrinho()}}</p>
    <p><strong>Total:</strong>{{carrinhoFacade.totalCarrinho() | precoFormatado}}</p>
    <button mat-raised-button color="primary" 
    type="button" routerLink="/carrinho">Voltar para o Carrinho</button>
    </section>  

    @for(item  of carrinhoFacade.itensCarrinho();  track $index) {
        <p>{{item.nome}} - R$ {{item.preco.toFixed(2)}}</p>
      
       <hr>

    }
}

<form [formGroup]="formulario" class="form">
    <h3>Finalizar Compra</h3>

   
    <p><input type="text" formControlName="nome" placeholder=" Digite seu nome completo"></p>

    @if(formulario.get('nome')?.touched && formulario.get('nome')?.errors?.['required']){
        <small style="color: red;">NOME É OBRIGATÓRIO</small>
    }
    @if(formulario.get('nome')?.errors?.['minlength']){
        <small style="color: red;">NOME DEVE TER NO MÍNIMO (2) DUAS LETRAS</small>
    }
    @if(formulario.get('nome')?.errors?.['numeroInvalido']){
        <small style="color: red;">NOME NAO PODE CONTER NÚMEROS</small>
    }



    <p><input type="email" formControlName="email" placeholder=" Digite seu Email"></p>
    @if (formulario.get('email')?.touched && formulario.get('email')?.invalid) {
     @if (formulario.get('email')?.errors?.['required']) {
     <small> EMAIL É OBRIGATÓRIO </small>
   }
     @if (formulario.get('email')?.errors?.['email']) {
      <small> EMAIL INVÁLIDO </small>
   }
}
    <input type="text" formControlName="endereco" placeholder=" Digite seu Endereço">

    @if (formulario.get('endereco')?.touched && formulario.get('endereco')?.invalid) {
      @if (formulario.get('endereco')?.errors?.['required']) {
         <small>ENDEREÇO É OBRIGATÓRIO</small>
  }
    @if (formulario.get('endereco')?.errors?.['minlength']) {
         <small>ENDEREÇO DEVE TER NO MÍNIMO 5 CARACTERES</small>
  }

}
      <p></p>
       <button type="button" (click)="finalizar()" [disabled]="formulario.invalid">
        Efetuar Compra
    </button>
</form>
    
    

